html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

.wrapper {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-size: 1.4em;
    margin-bottom: 15px;
}

/* header start  */
.img_header {
    width: 75px;
    border-radius: 50px;
}

.header-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    border-bottom: 1px solid;
    background-color: antiquewhite;
}

.right_side {
    display: flex;
    flex-direction: column;
    padding-right: 15px;
}


.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    margin-bottom: 25px;
}

.menu li {
    margin-left: 25px;
    list-style-type: none;
}

.menu a {
    text-decoration: none;
    color: black;
}

.menu a:hover {
    text-decoration: underline solid;
}

.searchform {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}

.search {
    width: 150px;
}

.button-search {
    width: 100px;
    border-radius: 50px;
    margin-left: 15px;
    border: 1px solid gray;
    background-color: white;
}

.button-search:hover {
    background-color: rgb(184, 180, 180);
}

/* main content  */

.main-content {
    display: grid;
    grid-template-columns: 60% 40%;
    padding-top: 50px;
    padding-bottom: 25px;
    border-bottom: 1px solid;
    padding-left: 25px;
}

.post {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 100px;
}

.img_main_left {
    width: 300px;
}

.img_main_right {
    width: 150px;
}

.main_text {
    text-align: justify;
}

.more-link{
    text-decoration: none;
    color: gray;
    padding-top: 20px;
    float: right;
}
/* aside start  */

aside {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.widget {
    margin-bottom: 50px;
}

.mail-placeholder {
    width: 150px;
}

.button-send {
    width: 100px;
    border-radius: 50px;
    margin-left: 15px;
    border: 1px solid gray;
    background-color: white;
}

.button-send:hover {
    background-color: rgb(184, 180, 180);
}

/* footer start  */

.footer-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: antiquewhite;
    padding-top: 25px;
    padding-bottom: 20px;
}
.footer-left{
    padding-left: 200px;
}

.footer-right {
    padding-left: 150px;
}

.footer-content li {
    margin-bottom: 10px;
}

.footer-content a {
    text-decoration: none;
    color: black;
}

.footer-content a:hover {
    text-decoration: underline;
}

